@model HortifrutiSF.MVC.Models.LoginViewModel


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@{
    Layout = "";
}

<div class="container">
    <div class="col-10 col-md-10 col-lg-10 mt-3">
        <h4>Registrar usuário</h4>
        @*Criar formulario*@<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
            <hr />
            @*Fazer a validação*@<div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Usuario" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Usuario" class="form-control" />
                    @*validação de mesagem de erro*@<span asp-validation-for="Usuario" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Senha" class="form-control" />
                    @*validação de mesagem de erro*@<span asp-validation-for="Senha" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 mt-2">
                    <input type="submit" class="btn btn-success" value="Registrar" />
                </div>
            </div>
        </form>
    </div>
</div>