

<body>

<div class="background">
    
    <div class="left-cartaz">

        <h1 class="alem">Muito além do</h1>
        <h1 class="financeiro">financeiro</h1>
        <h5>Impulsione a sua empresa com o nosso sistema de gestão</h5>
        

    </div>

    <div class="right-cartaz">
        <img src="~/Imagens/HerovarDesktop.jpeg">

    </div>
</div>

<div class="Container-serviços">

    <div class="Caixa">
        <div class="Card">
            <img src="~/Imagens/estoque.png">
            <br>
            <br>
            <div class="Paragrafo-button">
                <p>Tenha o poder de controle total sobre o seu estoque.</p>
                
            </div><!--Paragrafo-button-->
        </div><!--Card-->
    

    
        <div class="Card">
            <img src="~/Imagens/crescimento.png">
            <br>
            <br>
            <div class="Paragrafo-button">
                <p>Controle financeiro do seu comércio: a chave para o crescimento sustentável</p>
                
            </div><!--Paragrafo-button-->
        </div><!--Card-->
   

    
        <div class="Card">
            <img src="~/Imagens/automacao.png">
            <br>
            <br>
            <div class="Paragrafo-button">
                <p>Automatize suas tarefas repetitivas e ganhe tempo para o que realmente importa!</p>
                
            </div><!--Paragrafo-button-->
        </div><!--Card-->
    </div>

</div>
</body>







