@{
    ViewData["Title"] = "HortifrutiS&f";
}

<div class="text-center">
    <partial name="_imagemTexto" />

</div>
<div class="row">
  <div class="coluna">
       <body>
    <img src="~/Imagens/controle-de-estoque1.png" alt="descrição da imagem" style="width:60%" height=60%>
    <p><h5>Controle de Estoque</h5></p>
    </body>
  </div>
  <div class="coluna">
      <body>
    <img src="~/Imagens/Acompanhe_as_movimentacoes_do_setor_financeiro.png" alt="descrição da imagem" style="width:60%" height=60%>
    <p><h5>Movimentações Financeiras</h5></p>
    </body>
  </div>
  <div class="coluna">
      <body>
    <img src="~/Imagens/Atualize_o_seu_sistema_de_forma_automatica.png" alt="descrição da imagem" style="width:60%" height=60%>
    <p><h5>Controle Automatizado</h5></p>
    </body>
  </div>
  <div class="coluna">
      <body>
    <img src="~/Imagens/Tenha_todas_as_informacoes_atualizadas_dos_seus_clientes.png" alt="descrição da imagem" style="width:60%" height=60%>
     <p><h5>Informações Atualizadas</h5></p>
     </body>
  </div>
  </div>

<style>
.coluna{
  float: left;
  width: 25%;
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>







