@{
    ViewData["Title"] = "HortifrutiS&f";
}

<div class="text-center">
    <h1 class="display-4">Hortifruti S&F</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
