@model IEnumerable<HortifruitiSF.Application.Dto.EstoqueDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Estoque</h1>

<table class="table">
    <thead>
        <tr>
             <th>
               Quantidade Em Estoque
            </th>
             <th>
              Produto 
            </th>                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>                     
            <td>               
                <a asp-action="Details" asp-route-id="@item.EstoqueId">Details</a>            
            </td>
        </tr>
}
    </tbody>
</table>