@model IEnumerable<HortifruitiSF.Application.Dto.EstoqueDto>

@{
    ViewData["Title"] = "Estoque";
}

<h1>Estoque</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Quantidade Em Estoque
            </th>
            <th>
                Produto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.QuantidadeEstoque <= 0)
                {

                
                <td style ="color:red">
                    @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
                    </td>
                }
                else
                {
                  <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
                  </td> 
                }
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    <a class="btn btn-outline-info" id="estoqueId" asp-controller="Estoque"
                   asp-action="Details" asp-route-id="@item.EstoqueId">Detalhes</a>

                </td>
            </tr>
        }
    </tbody>
</table>